<h1>RSVP for <%= @party.party_name %> Party</h1>

<p>Attire: <b>Cocktail</b> (Suit and tie, cocktail and party dresses).</p>

<% if @party.child == 0 %>
<% else %>
<p> Children of all ages are welcome and considered guests. A kids meal is an available dinner option. High chairs at the tables and cribs in the hotel rooms upon request.  </p>
<% end %>
<br>
<%= form_for @party do |f| %>

<p> Seats reserved in your honor for your party at reception: <b><%= @party.num_guests %></b> <p>

  <p>
    <%= f.label :rsvp_guests, 'Number of People Attending (select 0 if Not Attending): ' %>

<% if @party.num_guests == 1 %>
<%= f.select :rsvp_guests, ['0', '1']%>
<% end %>

<% if @party.num_guests == 2 %>
<%= f.select :rsvp_guests, ['0', '1', '2']%>
<% end %>

<% if @party.num_guests == 3 %>
<%= f.select :rsvp_guests, ['0', '1', '2', '3']%>
<% end %>

<% if @party.num_guests == 4 %>
<%= f.select :rsvp_guests, ['0', '1', '2', '3', '4']%>
<% end %>

<% if @party.num_guests == 5 %>
<%= f.select :rsvp_guests, ['0', '1', '2', '3', '4', '5']%>

<% end %>

  </p>

<br>

<% if @party.num_nights == 1 %>
<p> A complimentary hotel night is reserved for you at the Marriott for <b>Saturday 25th</b>. </p> 
<% end %>
<% if @party.num_nights == 2 %>
<p> Complimentary hotel nights are reserved for you at the Marriott for <b>Friday 24th and Saturday 25th</b>. </p> 
<% end %>

<% if @party.num_nights == 0 %>
<% else %>
  <p>
    <%= f.label :rsvp_nights, 'Number of Nights You will be Using: ' %>
    
<% if @party.num_nights == 1 %>
<%= f.select :rsvp_nights, ['0', '1']%>
<% else %>
<%= f.select :rsvp_nights, ['0', '1', '2']%>
<% end %>
  </p>
 
<% end %>
<br>
  <p>
    <%= f.label :email, 'Contact e-mail: ' %>
    <%= f.text_field :email %>
  </p>

  <p>
    <%= f.label :guest_names, 'Please name all guests in your party indicating their main course selection from the following options: ' %><br>
<ol>
  <li>Rib-Eye Steak</li>
  <li>Pan Seared Chicken</li>
  <li>Grilled Portobello</li>
  <li>Kids Meal - option for guests under 12 </li>
</ol>
<p>(Example: John Smith - 1)</p>
    <%= f.text_area :guest_names %>
  </p>


<% if @party.child == 0 %>
  <p>
    <%= f.label :special_accom, 'If you require special accommodations, please state them here: ' %><br>
  </p>
<% else %>
<p> <%= f.label :special_accom, 'If you require special accommodations, please state them here. Also include any necessary cribs for your room and high chairs needed at the reception: ' %>  </p>
<% end %>


    <%= f.text_area :special_accom %>

<p>Please email <b>rsvp@mattandaurea.com</b> with any questions.</p>

  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<%= button_to 'Cancel', home_path, class: "cancel_button", method: :get %>
