<p>
  <strong>RSVP Code:</strong>
  <%= @party.rsvp_code %>
</p>
 
<p>
  <strong>Party Name:</strong>
  <%= @party.party_name %>
</p>

<p>
  <strong># Guests:</strong>
  <%= @party.num_guests %>
</p>
 
<p>
  <strong># Nights:</strong>
  <%= @party.num_nights %>
</p>

<p>
  <strong>Children:</strong>
  <%= @party.child %>
</p>

<p>
  <strong>RSVP Guests:</strong>
  <%= @party.rsvp_guests %>
</p>
 
<p>
  <strong>RSVP Nights:</strong>
  <%= @party.rsvp_nights %>
</p>

<p>
  <strong>Email:</strong>
  <%= @party.email %>
</p>
 
<p>
  <strong>Guest Names:</strong>
  <%= @party.guest_names %>
</p>

<p>
  <strong>Special Accommodations:</strong>
  <%= @party.special_accom %>
</p>
