<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Westwick-DelMoral Wedding", 'home', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Our Story",   'story' %></li>
        <li><%= link_to "The Wedding",   'wedding' %></li>
        <li><%= link_to "Accommodations",   'accommodations' %></li>
	<li><%= link_to "Registry",   'registry' %></li>
        <li><%= link_to "Help", 'help' %></li>
      </ul>
    </nav>
  </div>
</header>
