<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Westwick-DelMoral Wedding", '/home', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '/home', id: "linklogo" %></li>
        <li><%= link_to "Our Story",   '/story', id: "linklogo" %></li>
        <li><%= link_to "The Wedding",   '/wedding', id: "linklogo" %></li>
        <li><%= link_to "Accommodations",   '/accommodations', id: "linklogo" %></li>
	<li><%= link_to "Registry",   '/registry', id: "linklogo" %></li>
        <li><%= link_to "Help", '/help', id: "linklogo" %></li>
      </ul>
    </nav>
  </div>
</header>
